@import '../../../styles/responsives.scss';
@import '../../../styles/common.scss';

.products {
  color: var(--color-black);
  @include responsiveContainer;

  &__title {
    @include containerTitle;
  }

  &__content {
    width: 100%;
    display: flex;
    gap: 10px;
  }
}