@import "../../../styles/responsives.scss";
@import "../../../styles/common.scss";

$item-gap: 20px;

@mixin responsiveProduct {
  flex: 0 0 25%;
  min-width: 25%;

  @include below1200inclusive {
    flex: 0 0 33.3333%;
  }

  @include below768inclusive {
    flex: 0 0 50%;
  }
}

.products {
  color: var(--color-black);
  padding-top: 20px;
  @include responsiveContainer;
  margin-bottom: 30px;

  @include below768inclusive {
    padding: 0 15px;
  }

  &__title {
    @include containerTitle;
    margin-bottom: 0 !important;
  }

  &__content {
    &--first {
      margin-bottom: 40px;
    }
  }

  &__content {
    &--top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;

      @include below992inclusive {
        margin-bottom: 20px;
      }
    }
  }

  &__sub-content {
    &__items {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(4, 1fr);

      @include below992inclusive {
        grid-template-columns: repeat(2, 1fr);
      }

      @include below414inclusive {
        gap: 15px;
      }
    }
  }

  &__buttons {
    display: flex;
  }

  &__next,
  &__prev {
    background-color: rgb(236 229 223 / 80%);
    border-radius: 5px;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s all ease-in-out;

    &:hover {
      background-color: var(--color-primary);
    }

    @include below1200inclusive {
      width: 35px;
      height: 35px;
    }

    @include below768inclusive {
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__next {
    margin-left: 25px;
  }

  &__navigation {
    overflow: auto;
    width: 88vw;
    margin: 20px auto;
    &__wrapper {
      display: flex;
      flex-direction: row;
      width: fit-content;
      margin: 0 auto;
    }
  }

  &__dot {
    margin-right: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--color-gray-less-light) !important;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-primary);

    &:last-child {
      margin-right: 0;
    }

    &--selected {
      background-color: var(--color-primary) !important;
    }
  }

  &__guide {
    display: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    border: none;
    transition: 0.2s all ease-in-out;
    background-color: var(--color-gray-less-light);
    cursor: pointer;
    width: fit-content;

    &:hover {
      color: var(--color-text-primary);
      background-color: var(--color-primary);

      svg {
        fill: var(--color-text-primary);

        line {
          stroke: var(--color-text-primary);
        }

        path {
          stroke: var(--color-text-primary);
        }
      }
    }

    p {
      margin-right: 10px;
    }

    @include below768inclusive {
      display: flex;
    }
  }
}
