@import '../../../styles/responsives.scss';
@import '../../../styles/common.scss';

.products {
  color: var(--color-black);
  @include responsiveContainer;

  &__title {
    @include containerTitle;
  }

  &__content {
    &--first {
      margin-bottom: 40px;
    }
  }

  &__sub-content {
    overflow: hidden;
    
    &__items {
      display: flex;
    }

    &__item {
      flex: 0 0 50%;
      min-width: 0;
    }

    // &--empty {
    //   width: 100%;
    // }
  }
}
