@import "../../styles//variables";

.pc-dropdown {  
  .ant-form-item-label {
    padding: 0 !important;
    label {
      height: $primary-input-height;
    }
  }

  &.pc-dropdown-transparent {
    .ant-select {
      .ant-select-selector {
        background-color: transparent;
        border-color: transparent !important;
        &:hover {
          background-color: #ffffff;
        }
      }

      &.ant-select-focused {
        .ant-select-selector {
          background-color: #ffffff;
        }
      }
    }
  }

  .ant-select {
    .ant-select-selector {
      &:hover {
        border-color: $focus-input-color !important;
      }
    }

    &.ant-select-focused {
      .ant-select-selector {
        border-color: $focus-input-color !important;
      }
    }

    .ant-select-arrow {
      width: 16px;
      height: 16px;
      margin-top: -8px;
      inset-inline-end: 14px;
      svg {
        width: 16px;
        height: 16px;
      }
    }

    .ant-select-clear {
      width: 20px;
      height: 20px;
      margin-top: -10px;
      inset-inline-end: 14px;
      border-radius: 10px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.pc-dropdown-popup {
  border-radius: 8px;
  padding: 12px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

  .ant-select-item {
    height: 40px;
    border-radius: 8px;
    align-items: center;
  }

  .ant-select-item-option-selected {
    background-color: var(--actived-color) !important;
  }
}

.ant-form-vertical {
  .pc-dropdown {
    label {
      height: auto;
    }
  }
}


