@import "@/styles/responsives.scss";
@import "@/styles/common.scss";

.blog {
  @include responsiveContainer;

  &__title {
    @include containerTitle;
  }

  &__content {
    &--desktop {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      height: 700px;
    }
  }

  &__left {
    width: 50%;

    .blog__item {
      width: 100%;
      height: 100%;
      position: relative;

      &__image {
        width: 100%;
        height: 100%;
        cursor: pointer;
        overflow: hidden;
        
        img {
          transition: all 0.2s ease-in-out;
          width: 100%;
          height: 100%;
          object-fit: cover;
          &:hover {
            transform: scale(1.1);
          }
        }
      }

      &__texts {
        background-color: var(--color-primary);
        color: var(--color-white);
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 40px 38px 30px 50px;
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        svg {
          fill: var(--color-white);
          path {
            stroke: var(--color-white);
          }

          line {
            stroke: var(--color-white);
          }
        }
      }

      &__type {
        text-transform: uppercase;
        margin-bottom: 25px;
      }

      &__title {
        text-transform: uppercase;
        max-width: 270px;
        padding-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 25px;
      }

      &__date {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  &__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .blog__item {
      flex: 1;
      display: flex;

      &:last-child {
        flex-direction: row-reverse;
      }

      &__image {
        height: 100%;
        width: 50%;
        cursor: pointer;
        overflow: hidden;
        
        img {
          transition: all 0.2s ease-in-out;
          height: 100%;
          object-fit: cover;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      
      &__texts {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 38px 30px 50px;
      }

      &__type {
        text-transform: uppercase;
        margin-bottom: 25px;
      }

      &__title {
        max-width: 270px;
        padding-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 25px;
      }

      &__date {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}