@import "../../../styles/responsives.scss";

.product-description {
  background-color: var(--color-white);
  padding: 20px;
  text-align: justify;
  margin-bottom: 30px;
  @include responsiveContainer;

  ul,
  ol {
    padding-left: 20px;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  .ql-size-huge {
    font-size: 2.5em;
  }

  .ql-size-large {
    font-size: 1.5em;
  }

  .ql-size-small {
    font-size: 0.75em;
  }

  .ql-align-center {
    text-align: center;
  }

  .ql-align-justify {
    text-align: justify;
  }

  .ql-align-right {
    text-align: right;
  }

  .ql-align-left {
    text-align: left;
  }

  .ql-indent-1 {
    padding-left: 1em;
  }

  .ql-indent-2 {
    padding-left: 2em;
  }

  .ql-indent-3 {
    padding-left: 3em;
  }

  .ql-indent-4 {
    padding-left: 4em;
  }

  .ql-indent-5 {
    padding-left: 5em;
  }

  .ql-indent-6 {
    padding-left: 6em;
  }

  .ql-indent-7 {
    padding-left: 7em;
  }

  .ql-indent-8 {
    padding-left: 8em;
  }

  &__header {
    background-color: var(--color-primary);
    width: fit-content;
    padding: 10px;
    color: var(--color-text-primary);
    border-radius: 5px;
    margin-bottom: 15px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include below768inclusive {
      flex-direction: column;
    }

    .left {
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include below768inclusive {
        width: 100%;
      }

      .short-desc,
      .long-desc {
        color: #5e5e5e;
      }

      .about-desc {
        font-weight: 700;
      }

      .read-more::before {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        background: url("/images/read-more.svg") center no-repeat;
        background-size: contain;
        content: "";
        display: block;
        margin-right: 12px;
        transition: 0.2s all ease-in-out;
      }

      .read-more {
        margin-top: 10px;
        display: inline-flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #666666;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        transition: 0.2s all ease-in-out;
        cursor: pointer;

        &:hover {
          color: var(--color-primary);

          &::before {
            transform: rotate(45deg);
          }
        }
      }
    }

    .right {
      width: 30%;
      height: 300px;
      position: relative;

      img {
        object-fit: contain;
      }
    }
  }
}
