@import "../../../../styles/responsives.scss";

.product {
  height: 100%;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  overflow: hidden;
  border-radius: 16px;
  background: var(--color-gray-light);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  &:hover {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
      0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  }

  &:hover &__name {
    color: var(--color-primary);
  }

  &__image-container {
    background-color: #fafafa;
    height: 48%;
  }

  &__image {
    position: relative;
    aspect-ratio: 1 / 1;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    width: -webkit-fill-available;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
      height: -webkit-fill-available;
    }
  }

  &__status {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    font-size: 14px;
    white-space: break-spaces;

    &--label {
      border-radius: 5px;
      padding: 0 10px;
      background: var(--color-primary);
      color: var(--color-text-primary);
      margin-right: 8px;
    }

    &--discount {
      border-radius: 5px;
      padding: 0 5px;
      background: var(--color-gray-less-light);
    }
  }

  &__info {
    background: var(--color-white);
    font-weight: 500;
    font-size: 18px;
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  &__name {
    margin-bottom: 10px;
    transition: all 200ms ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    @include below992inclusive {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }

  &__price-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    @include below1440inclusive {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__price {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 10px;

    @include below992inclusive {
      font-size: 18px;
      margin-bottom: 8px;
    }

    &--old {
      text-decoration: line-through;
      font-size: 15px;
      color: var(--color-gray);

      @include below992inclusive {
        font-size: 15px;
        margin-bottom: 8px;
      }
    }
  }

  &__further-info {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 0;
    line-height: 36px;
    gap: 20px;
    height: 120px;

    @include below768inclusive {
      padding: 0 8px;
    }
  }

  &__further-info,
  &__info {
    padding: 20px;
  }

  &__logo {
    position: relative;
    width: 40%;
    height: 90%;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    @include below768inclusive {
      display: none;
    }
  }

  &__links {
    width: 60%;
    display: flex;
    flex-direction: column;
    font-size: 16px;

    @include below992inclusive {
      font-size: 14px;
    }

    @include below768inclusive {
      width: 100%;
    }

    svg {
      min-width: 10px;
    }
  }

  &__cart,
  &__detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    gap: 10px;

    svg {
      transition: all 200ms ease-in-out;
      width: 1vw;
    }

    &:hover {
      color: var(--color-primary);
    }

    &:hover svg {
      transform: rotate(180deg);
    }
  }
}
