@import '../../../../styles/responsives.scss';

.product {
  // width: 25%; // needs to delete this before pushing
  border-radius: 5px;

  &__image-container {
    padding: 10px;
    background-color: #FAFAFA;
  }
  
  &__image {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__status {
    position: absolute;
    top: 8px;
    left: 6px;
    display: flex;
    font-size: 14px;
    white-space: nowrap;
    
    &--label {
      border-radius: 5px;
      padding: 0 10px;
      background: var(--color-primary);
      color: var(--color-text-primary);
      margin-right: 8px;
    }

    &--discount {
      border-radius: 5px;
      padding: 0 5px;
      background: var(--color-gray-less-light);
    }
  }

  &__info {
    background: var(--color-white);
    font-weight: 300;
    font-size: 18px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid var(--color-gray-less-light);
  }

  &__name {
    margin-bottom: 10px;
    flex: 0 0 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include below992inclusive {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }

  &__price {
    font-weight: 700;

    @include below992inclusive {
      font-size: 13px;
      margin-bottom: 8px;
    }

    &--old {
      text-decoration: line-through;
      font-size: 15px;
      color: var(--color-gray);

      @include below992inclusive {
        font-size: 11px;
      }
    }
  }
}