@import '../../../../styles/responsives.scss';

.product {
  width: 25%; // needs to delete this before pushing
  border-radius: 5px;

  &__image-container {
    padding: 10px;
    background-color: #FAFAFA;
  }
  
  &__image {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__status {
    position: absolute;
    top: 8px;
    left: 6px;
    display: flex;
    font-size: 14px;
    white-space: nowrap;
    
    &--label {
      border-radius: 5px;
      padding: 0 10px;
      background: var(--color-primary);
      color: var(--color-text-primary);
      margin-right: 8px;
    }

    &--discount {
      border-radius: 5px;
      padding: 0 5px;
      background: var(--color-gray-less-light);
    }
  }

  &__info {
    background: var(--color-white);
  }
}